.navbar-brand  {
	padding-left: 0px;
	padding-top: 30px;
	font-size: 64px;
	font-weight: bold;
	font-family: Arial,sans-serif;
	text-shadow: 0px 1px 0px #CCC, 0px 2px 0px #C9C9C9, 0px 3px 0px #BBB, 0px 4px 0px #B9B9B9, 0px 5px 0px #AAA, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.15);
}

.container {
    font-family: "Microsoft YaHei","Droid Sans",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
    z-index: 200;
	border: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.masterhead{
	padding: 90px 0px 110px;
	margin-bottom: 0px;
	color: #FFF;
}

.btn-primary.btn-shadow {
    box-shadow: 0px -4px 0px #BF3E11 inset;
    border: 0px none;
    color: #FFF;
}

.jumbotron {
    position:relative;
	padding:40px 0;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
	background:#1D3996;
	background:-moz-linear-gradient(45deg,#1D3996 0,#74C812 100%);
	background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#1D3996),color-stop(100%,#74C812));
	background:-webkit-linear-gradient(45deg,#1D3996 0,#74C812 100%);
	background:-o-linear-gradient(45deg,#1D3996 0,#74C812 100%);
	background:-ms-linear-gradient(45deg,#1D3996 0,#74C812 100%);
	background:linear-gradient(45deg,#1D3996 0,#74C812 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1D3996', endColorstr='#74C812', GradientType=1);
	-webkit-box-shadow:inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow:inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow:inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2)
}

.jumbotron a{
	color:#fff;
	color:rgba(255,255,255,.5);
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

.jumbotron a:hover{
	color:#fff;
	text-shadow:0 0 10px rgba(255,255,255,.25)
}

.jumbotron .container{
	max-width: 100%;
	position:relative;
	z-index:2
}

.jumbotron:after{
	content:'';
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:url(../images/pattern-1.png) repeat center center;
	opacity:.4
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1){
	.jumbotron:after{
		background-size:150px 150px
	}

}

.posts-container and (min-width: 800px) {
	width: 800px;
}

.list-group.posts {
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
}
.posts-section h3.date {
	padding: 10px;
	color: #74C812;
	border-bottom: 2px solid #74C812;
	font-weight: 600;
	font-size: 20px;
}

.list-group-item.post {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px dashed #DDD;
	margin-bottom: 10px;
}

.list-group-item.post:last-child {
	border-bottom: 0;
}

.list-group-item.post .upvote {
    position: absolute;
    left: 5px;
    top: 12px;
	bottom: 12px;
	border-right: thick solid gold;
}

.list-group-item.post .post-info {
    min-height: 85px;
    margin: 0px 10px 0px;
    padding: 0px 55px 10px;
}

.post .upvote a {
    width: 54px;
    font-size: 12px;
	color: #4C5A62;
	border: 0;
	background-color: #FFF;
    border-color: #ECECEC;
}
.post .upvote i{
    font-size: 20px;
	padding-bottom: 6px;
}

 .post-info .title {
    margin: 0px 0px 6px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
}

 .post-info .description {
    margin: 0px 0px 8px;
}

 .post .post-img-info {
    position: absolute;
	right: 0px;
	top: 10px;
	text-align: center;
}

.post-img {
	max-height: 80px;
	max-width: 80px;
}

.footer {
    z-index: 200;
	color: #FFF;
    width: 100%;
	margin-top: 30px;
    padding: 30px 0px 15px;
    background: #DD4814 none repeat scroll 0% 0%;
    vertical-align: baseline;
}

